.home {
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    gap: 50px;
    flex-wrap: wrap;

    @media screen and (max-width: 550px) {
        padding: 10px 20px;
        gap: 0;
    }
}